*{
  box-sizing: border-box;
}
:root{

}
@font-face {
  font-family: 'Roboto';
  src: local(''),
       url('fonts/roboto/roboto-v20-latin-regular.woff2') format('woff2'),
       url('fonts/roboto/roboto-v20-latin-regular.woff') format('woff');
}
body{
  position: relative;
  min-height: 100vh;
  padding-bottom: 91px;
  background: #ffffff;
  color: #1d1d1d;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
header{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,0.15);
}
/* ---------- */
#options{
  display: flex;
  padding: 10px 25px;
  background: #000000;
  font-size: 12px;

}
#options > p {
  padding:0;
  margin: 0;
  margin-right: 25px;
  color: #ffffff;
}
/* ---------- */
nav{
  align-self: center;
  width: 85%;
  padding: 0;
  font-size: 16px;
}
nav > ul {
  display: flex;
  padding: 10px 0;
  margin: 0;
  list-style: none;
}
nav > ul > li{
  display: flex;
}
nav > ul > li > a{
  display: flex;
  position: relative;
  padding: 12px 5px;
  align-self: center;
  margin: 0 3px;
  color: rgba(32,41,47,.6);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
nav > ul > li > a::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 8px;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    background: #7367f0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
nav > ul > li > a:hover::after {
  width: 100%;
  left: 0;
}
nav > ul > li:first-child > a::after{
  width: 100%;
  left: 0;
}
#navIndex{
  position: relative;
  display: flex;
  justify-content: space-between;
}
#navIndex > button{
  align-self: center;
  margin: 0;
  padding: 0px 25px;
  border: 0;
  border-radius: 5px;
  height: 45px;
  background: #7367f0;
  color: white;
  font-size: 14px;
}
#navIndex > button:hover{
  cursor: no-drop;
}
#navIndex > button:focus{
  outline: none;
}
#navIndexUnderlineOne{
  color: #7367f0;
}
#navIndexUnderlineOne:hover{
  color: #7367f0;
}
#navIndexUnderlineTwo:hover, #navIndexUnderlineThree:hover{
  cursor: no-drop;
}
#bodyIndex{
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 1600px;
  padding: 50px 25px 25px 25px;
}
#purpleIndex{
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  height: 150px;
  background: #7367f0;
  z-index: -1;
}
.bodyIndexCard{
  width: 750px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* box-shadow: rgba(0,0,0,0.047) 0 0 3.45px 0.57px; */
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.1);
  padding: 25px;
  background: #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}
.bodyIndexCard > ul{
  list-style: none;
  padding: 0 0 0 17px;
}
.bodyIndexCard > ul > li{
  margin-bottom: 25px;
}
.bodyIndexCard > ul > li > a{
  color: black;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 4px;
  text-transform: capitalize;
}
.bodyIndexCard > hr{
  width: 95%;
  margin-left: 0;
  justify-content: flex-start;
  display: flex;
  margin-bottom: 30px;
}
.bodyIndexCard > p{
  margin: 0;
  padding: 10px 0 3px 0;
  font-size: 21px;
  color: #7367f0;
}
.bodyIndexCard:hover{
  box-shadow: rgba(0,0,0,.1) 0 2px 24px 5px;
}
.bodyIndexCard > ul > li > a:hover{
  text-decoration: underline;
  color: #7367f0;
}


/*                */
#lBodyIndex{

}
/*                */
#rBodyIndex{
  margin-top: 100px;
  width: 700px;
  padding: 25px;
}
#newsIndex{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* box-shadow: rgba(0,0,0,.1) 0 2px 24px 5px; */
  padding: 25px;
}
#newsIndex > p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: rgba(32,41,47,.6);
  margin-bottom: 25px;
}
.newsIndexCard{

}
.newsIndexCard > p{
  margin: 0;
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.newsIndexCard span{
  margin-right: 8px;
  position: absolute;
  right: 8px;
  transform: translate(0%,-50%);
  top: 50%;

}
.newsIndexCard > p > a{
  display: flex;
  color: #000000;
  text-decoration: none;
  padding: 12.5px 8px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: capitalize;
}
.newsIndexCard > p::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 8px;
    content: '';
    height: 2px;
    left: 0%;
    position: absolute;
    background: #7367f0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.newsIndexCard > p:hover::after {
  width: 100%;
  left: 0;
}













footer{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #262626;
}
.footer{
  width: 90%;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.footer > ul{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer > ul:first-child > li{
  margin-right: 15px;
}
.footer > ul > li > a{
  display: flex;
  padding: 15px 0;
  color: #dddddd;
  text-decoration: none;
}
.footerTwo{
  height: 20px;
  width: 100%;
  background: #2e2e2e;
}
.footer > ul > li > a:hover{
  transition-duration: .4s;
  text-decoration: underline;
  color: #ffffff;
}
/* --------------------------------------------------- */
#bodyIndexBase{
    padding: calc(125px + 60px) 25px 25px 25px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 750px;
    border-radius: 5px;
    border-radius: 5px;
}
#bodyBadeDeDatos{
  background: #ffffff;
}
#purpleIndex{
  color: #ffffff;
  display:flex;
}
#purpleIndex > p{
  font-weight: 600;
  font-size: 42px;
  margin: 0 0 0 5%;
  align-self: center;
}
#bodyIndexBase > p{
  font-size: 17px;
  line-height: 1.8em;
  font-family: 'Inter', sans-serif;
  margin-bottom: 35px;
  color: #292929;
}
/* --------------------------------------------------- */












/**/
